*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--MainFont);
    /* overflow: hidden; */

}
:root{
    --MainFont:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --mainColor: #06C167;
}
.container{
    max-width: 73.5625rem;
    margin: auto;
    overflow: hidden;
}
/* Header Section Start  */
header{
    height: min-content;
}
/* nav */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
nav .logo span{
    font-size: 2rem;
    font-weight: 500;
    color: var(--mainColor);
}
nav .navItem ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
nav .navItem ul li a{
    text-decoration: none;
    color: black;
}
nav .navItem .homeBtn{
    color: var(--mainColor);
    position: relative;
}
.homeBtn::after{
    content: "";
    height: 0.375rem;
    width: 0.375rem;
    background-color: #06C167;
    position: absolute;
    top: 1.5rem;
    right: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
.menuIcon{
    display: none;
}
/* nav */
/* Hero */
.hero{
    display: flex;
    /* background-color: #e334; */
    margin-top: 2rem;
}
.leftHero{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 11rem;
}
.leftHero .content h1{
    font-size: 3.7rem;
    letter-spacing: .2rem;
    padding-right: 4rem;
    color: #1D1D1F;
}
.leftHero .content p{
    margin-top: 1rem;
    line-height: 142%;
    padding-right: 6rem;
    color: #1D1D1FBF;
}
.leftHero .content button{
    display: inline-block;
    margin-top: 2rem;
    padding: .9rem 1.5rem;
    background-color: var(--mainColor);
    outline: 0;
    border: 0;
    color: white;
    cursor: pointer;

}
.leftHero .content button span{
    font-size: 1.2rem;
    margin: 0 .5rem;
}
.leftHero .brandLogo{
    padding-right: 5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.leftHero .brandLogo img{
    width: 25%;
}
.SmallbrandLogo{
    display: none;
}
.rightHero{
    flex-basis: 50%;
    position: relative;
    overflow: hidden;
}
.rightHeroContainer{
    display: flex;
    justify-content: center;

}
.rightHero .imgSectrion{
    width: 32.25rem ;
    padding-left: 2rem;
    /* overflow: hidden; */
}
.mainPicture{
    width: 100%;
    position: relative;
    /* display: flex; */
    padding-left: 6rem;
}
.rightHero .mainPicture img{
    width: 100%;
}
.dotImg{
    position: absolute;
    bottom: 1.5rem;
    right: 0;
    width: 10.875rem;
}
.rating{
    position: absolute;
    top: 40%;
    left: 9%;
    width: 11.375rem;
}
.feedback {
    position: absolute;
    width: 11.375rem;
    top: 30%;
    right: -2%;
}
.mobileDeviceRatingsFeedback{
    display: none;
}
/* Hero */
/* Header Section End  */
/* Feature */
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: min-content;
    margin-top: 5rem;
}
.feature .featureItem:nth-child(1){
    flex-basis: 25%;
}
.feature .featureItem:nth-child(2){
    flex-basis: 25%;
}
.feature .featureItem:nth-child(3){
    flex-basis: 25%;
}
.feature .featureItem:nth-child(4){
    flex-basis: 25%;
}
.feature .featureItem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature .featureItem h4{
    font-size: 1.125rem;
    font-weight: 500;
}
.feature .featureItem p{
    font-size: .875rem;
}
/* Feature */
/* Media Query */
@media (max-width: 1200px) {
    /* nav */
    nav .logo{
        padding-left: 1rem;
    }
    nav .navItem{
        padding-right: 1rem;
    }
    /* nav */
    /* Hero */
    .leftHero{
        margin-left: 5rem;
        gap: 5rem;
    }
    .leftHero .content h1{
        font-size: 3.7rem;
        padding-right: 2rem;
    }
    .leftHero .content p{
        padding-right: 4rem;
    }
    .leftHero .content button{
        display: inline-block;
        margin-top: 2rem;
        padding: .9rem 1.5rem;
        background-color: var(--mainColor);
        outline: 0;
        border: 0;
        color: white;
        cursor: pointer;

    }
    .leftHero .content button span{
        font-size: 1.2rem;
        margin: 0 .5rem;
    }
    .leftHero .brandLogo{
        padding-right: 0rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .leftHero .brandLogo img{
        width: 25%;
    }
    .SmallbrandLogo{
        display: none;
    }
    .rightHeroContainer{
        display: flex;
        justify-content: center;

    }
    .rightHero .imgSectrion{
        width: 32.25rem ;
        padding-left: 1rem;
        overflow: hidden;
    }
    .mainPicture{
        width: 85%;
        position: relative;
        /* display: flex; */
        padding-left: 3.5rem;
    }
    .rightHero .mainPicture img{
        width: 100%;
    }
    .dotImg{
        bottom: -1rem;
        right: 3rem;
        width: 10.875rem;
    }
    .rating{
        top: 44%;
        left: 1%;
    }
    .feedback{
        position: absolute;
        top: 30%;
        right: 1.5%;
    }
    /* Hero */
}
@media (max-width: 992px) {
    /* nav */
    nav .navItem ul{
        gap: 1rem;
    }
    /* nav */
    /* Hero */
    .leftHero{
        margin-left: 4rem;
        gap: 5rem;
        margin-right: .9rem;
    }
    .leftHero .content h1{
        font-size: 3.2rem;
        padding-right: 0rem;
        letter-spacing: .1rem;

    }
    .leftHero .content p{
        padding-right: 0rem;
    }
    .leftHero .content button{
        padding: .9rem 1.5rem;

    }
    .leftHero .content button span{
        font-size: 1.2rem;
        margin: 0 .5rem;
    }
    .leftHero .brandLogo{
        padding-right: 0rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .leftHero .brandLogo img{
        width: 25%;
    }
    .SmallbrandLogo{
        display: none;
    }
    .rightHero .imgSectrion{
        width: 24.25rem ;
        padding-left: 0rem;
        overflow: hidden;
    }
    .mainPicture{
        position: relative;
        /* display: flex; */
        padding-left: 0rem;
    }
    .dotImg{
        bottom: -2rem;
        right: 3rem;
        width: 10.875rem;
    }
    .rating{
        top: 44%;
        left: 0%;
        width: 9.375rem;
    }
    .feedback{
        position: absolute;
        top: 30%;
        right: 5%;
        width: 9.375rem;
    }
    /* Hero */
    /* Feature */
    .feature .featureItem:nth-child(1){
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
    .feature .featureItem:nth-child(2){
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
    .feature .featureItem:nth-child(3){
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
    .feature .featureItem:nth-child(4){
        flex-basis: 50%;
        margin-bottom: 2rem;
    }
    /* Feature */
}
@media (max-width: 768px) {
    /* nav */
    nav .navItem ul{
        display: none;
    }
    .menuIcon{
        display: block;
    }
    .menuIcon img{
        width: 90%;
    }
    /* nav */
    /* Hero */
    .hero{
        flex-direction: column;
    }
    .leftHero{
        align-items: center;
        text-align: center;
        padding: 0 5rem;
        gap: 3rem;
        margin-left: 0;
        margin-right: 0;
    }
    .leftHero .content h1{
        padding-right: 0rem;
        font-size: 3.2rem;

    }
    .leftHero .content p{
        padding-right: 0rem;
        font-size: 15px;
    }
    .leftHero .content button{
        margin-top: 1.5rem;
        padding: .9rem 4rem;
    }
    .leftHero .brandLogo img{
        display: none;
    }
    .SmallbrandLogo{
        display: block;
        padding-right: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        /* row-gap: 0rem; */
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .SmallbrandLogo img{
        width: 7.375rem;
    }
    .rightHeroContainer{
        align-items: center;
    }
    .rightHero .imgSectrion{
        width: 30.25rem ;
        padding-left: 0rem;
        overflow: hidden;
    }
    .mainPicture{
        padding-left: 0rem;
    }
    .rightHero .mainPicture img{
        width: 80%;
        margin-left: 6rem;
    }
    .dotImg{
        position: absolute;
        bottom: 4rem;
        right: 12rem;
        width: 10.875rem;
        z-index: 1;
    }
    .mobileDeviceRatingsFeedback{
        display: block;
        z-index: 333;
        position: absolute;
        bottom: 20%;
        left: 35%;
    }
    .mobileDeviceRatingsFeedback img{
        margin-bottom: .5rem;
        width: 90%;
    }
    .rating{
        display: none;
    }
    .feedback{
        display: none;
    }
    /* Hero */

}
@media (max-width: 530px) {
    /* nav */
    .menuIcon img{
        width: 70%;
    }
    /* nav */
    /* Hero */
    .leftHero{
        padding: 0 2rem;
        gap: 1.5rem;
    }
    .leftHero .content h1{
        padding-right: 0rem;
        font-size: 2.8rem;

    }
    .rightHero .imgSectrion{
        width: 25.25rem ;
    }
    .rightHero .mainPicture img{
        width: 80%;
        margin-left: 3rem;
    }
    .dotImg{
        bottom: 12rem;
        right: 3.5rem;
        width: 8.875rem;
    }
    .mobileDeviceRatingsFeedback{
        bottom: 36%;
        left: 30%;
    }
    .mobileDeviceRatingsFeedback img{
        width: 85%;
    }
    .rating{
        display: none;
    }
    .feedback{
        display: none;
    }
    .SmallbrandLogo{
        padding-right: 0rem;
        margin-top: 3rem;
        padding-left: 1rem;
        justify-content: center;
        column-gap: 3rem;
    }
    .SmallbrandLogo img{
        width: 7.375rem;
    }
    .SmallbrandLogo img:nth-child(1){
        flex-basis: 30%;
        margin: 1rem;
    }
    .SmallbrandLogo img:nth-child(2){
        margin: 1rem;
        flex-basis: 30%;
    }
    .SmallbrandLogo img:nth-child(3){
        margin: 1rem;
        flex-basis: 30%;
    }
    /* Hero */
    /* Feature Section */
    .feature .featureItem{
        flex-direction: column;
    }
}